.l{
    margin-bottom: 25px;
}
.tra{
    margin-bottom: 5px; padding-top: 10px
}
#con{
    margin-bottom: 0
}
#con1{
    margin-top: 30px
}
#box{
    margin-bottom: 40px
}
#con2{
    margin-bottom: 22px;
}
.bk1{
    font-size: 15px; color: #363636;
}
.all{
    font-weight: bold;
}
#res{
    left: 345px;
    top: -2px;
}
#pr{
    margin-right: 4px
}
#h{
    height: 170px;
    max-width: 100%;
    padding: 0px;
}
#he{
    max-width: 100%;
    padding: 0px;
    position: relative;
}
.cl{
    border: none;
    background: none;
    left: 217px;
}
.but{
    border: 1px solid #afb8bd;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666666;
    outline: none;
    background: none;
    font-size: 17px;
    transition: all 0.5s;
}
.pag{
    text-align: center;
    white-space: nowrap;
}
.span1{
    font-weight: bold;
    font-size: 15px
}
.span2{
    color: gray;
}
#art{
    margin-top: 15px;
    width: 75%;
    font-size: 14px
}
#con3{
    background: #ffffff;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-bottom: 80px;
}
#rules_popup{
    color: #ff9a21; 
    font-weight: 600;
}
#s{
    padding-bottom: 0;
}
#e{
    float: right;
}
#g{
    font-weight: bold;
}
#rel{
    position: relative;
}
#q{
    margin-top: 0;
}
#k{
    margin-bottom: 24px
}
#g1{
    line-height: 1.6; 
}
#d{
    text-align: center;
}
.btn_middle:hover, .btn_middle:focus, #btn_middle:hover, #btn_middle:focus{
    border: 1px solid #ff9a21;
    color: #ff9a21;
    background-color: white;
    box-shadow: 0 0 0 0.2rem #ff9b216e;
}
.btn_middle:not(:disabled):not(.disabled):active{
    color: #ff9a21;
    background-color: #ffffff;
    border-color: #ff9a21;
    padding: 5px 5px;
}
.btn_middle{
    background-color: #ffffff;
    padding: 5px 5px;
}
.btnclass:hover, .btnclass:focus{
    background-color: #ff9a21;
    box-shadow: 0 0 0 0.2rem #ff9b216e;
}
.btnclose, .btnclose:active, .btnclose:hover .btnclose:focus, .btnclose:not(:disabled):not(.disabled):active{
    border: 1px solid #afb8bd;
    padding: 0px 0px;
    border-radius: 5px;
    color: #666666;
    outline: none;
    transition: all 0.5s;
    background-color: #ffffff;
}
#btn_middle{
    padding: 0px 0px;
}
.switch.btn-xs {
    width: 20%;
    border: 1px solid #ff9a21;
}
.switch-on.btn-xs {
    background-color: #ff9a21;
}
.switch-handle {
    padding: 0px 0px!important;
    width: 25px!important;
}
.j{
    width: 23%!important;
}
.k{
    width: 33%!important;
}
.p{
    width: 5%!important;
}
.d{
    width: 16%!important;
}
.d1{
    width: 38%!important;
}
.p1{
    width: 25%!important;
}
#f{
    width: 100%;
}
#size{
    width: 50%;
}