.l{
    margin-bottom: 25px;
}
.tra{
    margin-bottom: 5px; padding-top: 10px
}
#con{
    margin-bottom: 0
}
#con1{
    margin-top: 30px
}
#box{
    margin-bottom: 40px
}
#con2{
    margin-bottom: 22px;
}
.bk1{
    font-size: 15px; color: #363636;
}
.all{
    font-weight: bold;
}
#res{
    left: 345px;
    top: -2px;
}
#pr{
    margin-right: 4px
}
#h{
    height: 170px;
    max-width: 100%;
    padding: 0px;
}
#he{
    max-width: 100%;
    padding: 0px;
}
.cl{
    border: none;
    background: none;
    left: 217px;
}
.but{
    border: 1px solid #afb8bd;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666666;
    outline: none;
    background: none;
    font-size: 17px;
    transition: all 0.5s;
}